@import "@sakun/system.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "SF Pro Text",
    "SF Pro Icons",
    "Helvetica Neue",
    Arial,
    sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

h1 {
  margin-bottom: 1rem;
}

p {
  max-width: 32rem;
  text-align: center;
  line-height: 1.5;
}
